            <div class="col">
              <h3 class="alert alert-danger">Articles<i class="fas fa-table" style="margin-left: 5px;"></i></h3>
            </div>
             {{#each articles as |article| }}
              <div><strong>Article Name: {{article.title}} </strong></div>
              <div><strong>Content: </strong>{{article.content}}</div>
              <div><strong>By: </strong> {{user.username}}</div>
              <div>=======================================================</div>
              {{else}}
                <div>
                  nothing here
                </div>
              {{/each}}